<div class="dialog-container">
    <h2>Reset your password</h2>
    <div mat-dialog-actions class="mat-buttons-actions">
        <input
            #email
            class="input"
            type="text"
            name="email"
            placeholder="gabriel.melo@gmail.com"
            autocomplete="off"
            (keyup)="(0)"
        />
        <button
            class="btn pink remove-margin"
            tabindex="3"
            name="button"
            [mat-dialog-close]="email.value"
        >
            <div class="buttonLabel">
                Reset password
            </div>
        </button>
    </div>
</div>
