.dialog-container {
    // padding: 10px;
}

.forgotPassword {
    height: 19px;
    width: 116px;
    color: #fd7f81;
    font-family: 'Open Sans';
    font-size: 14px;
    line-height: 19px;
    float: right;
    text-align: right;
}

.input {
    outline: none;
    padding-left: 26px;
    height: 40px;
    width: 262px;
    border: 1px solid #dcdcdc;
    border-radius: 100px;
    margin-bottom: 12px;
}

.mat-buttons-actions {
    display: flex;
    flex-direction: row;
}

.remove-margin {
    margin-right: 0px !important;
}
