.center30 {
    margin: 30px auto;
}

.logoBox {
    height: 40px;
    width: 180px;
    background-repeat: no-repeat;
    background-image: url('../../../../assets/logo.png');
    background-size: 180px 40px;
    background-position: center;
    margin-bottom: 30px;
}

.form {
    width: 288px;
}

.input {
    outline: none;
    padding-left: 26px;
    height: 40px;
    width: 262px;
    border: 1px solid #dcdcdc;
    border-radius: 100px;
    margin-bottom: 12px;
}

.nav-header {
    display: flex;
    justify-content: flex-start;
    padding: 10px 0 0 20px;
    margin-bottom: 30px;
    width: 100%;
    color: #fd7f81;

    i {
        font-size: 20px;
        cursor: pointer;
    }
}

.spinner {
    color: black;
}
