<div class="container">
    <div class="landing-page">
        <div class="center30 logoBox"></div>
        <div class="welcome-text">Welcome to Tessellation!</div>
        <div class="button-container">
            <button
                routerLink="/login"
                class="btn pink"
                tabindex="3"
                type="button"
                name="button"
            >
                <div class="buttonLabel">
                    Account LogIn
                </div>
            </button>
            <button
                routerLink="/signup"
                class="btn pink"
                tabindex="3"
                type="button"
                name="button"
            >
                <div class="buttonLabel">
                    Account Signup
                </div>
            </button>
        </div>
    </div>
</div>
