<div class="container">
    <div class="signup-box">
        <div class="content">
            <mat-form-field>
                <mat-select
                    [placeholder]="selectPlaceholder"
                    [disabled]="disableSelect"
                    (selectionChange)="handleChange($event)"
                >
                    <mat-option
                        *ngFor="let table of tables"
                        [value]="table.value"
                    >
                        {{ table.displayName }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <page-footer></page-footer>
    </div>
</div>
