<div class="container">
    <div class="signup-box">
        <div class="content">
            <mat-form-field>
                <mat-select placeholder="Favorite food">
                    <mat-option
                        *ngFor="let table of tables"
                        [value]="table.value"
                    >
                        {{ table.displayName }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <button
            class="pinkButton"
            type="button"
            name="button"
            [disabled]="loading"
            (click)="goHome()"
        >
            Home
        </button>
    </div>
</div>
