<div class="row">
    <div class="col-6 offset-3">
        <div class="row pb-3">
            <div class="col-6 offset-3">
                <h2>Table Input</h2>
            </div>
        </div>

        <form [formGroup]="form" (ngSubmit)="onSave()">
            <div class="row">
                <div class="col-8 offset-2">
                    <mat-form-field>
                        <input matInput [formControlName]="'name'" placeholder="Name" type="text">
                        <!-- TODO Implement required. -->
                        <mat-error *ngIf="form.hasError('required')">
                            Name is required.
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-8 offset-2">
                    <mat-form-field>
                        <input matInput [formControlName]="'age'" placeholder="Age" type="text">
                        <!-- TODO Implement required. -->
                        <mat-error *ngIf="form.hasError('required')">
                            Age is required.
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-8 offset-2">
                    <mat-form-field>
                        <input matInput [formControlName]="'favoriteAnimal'" placeholder="Favorite Animal" type="text">
                    </mat-form-field>
                </div>
            </div>

            <div class="row d-flex justify-content-end">
                <div class="col-1"></div>
                <div class="col-1">
                    <button mat-raised-button type="submit">Save</button>
                </div>
            </div>
        </form>

    </div>
</div>
