<div class="container">
    <div class="page-box page-box-padding">
        <page-header [showBackButton]="false"></page-header>
        <div class="content">
            <div class="dropdown">
                <button
                    id="dropdown"
                    (click)="toggleDropdown($event)"
                    class="btn dropdown"
                    [disabled]="!tables.length"
                >
                    <img
                        class="pngIcon"
                        src="../../../../assets/action.png"
                        alt=""
                    />
                    <span class="buttonLabel">
                        Edit a table
                    </span>
                    <mat-icon *ngIf="!showDropdownContent" style="float:right;"
                        >expand_more</mat-icon
                    >
                    <mat-icon *ngIf="showDropdownContent" style="float:right;"
                        >expand_less</mat-icon
                    >
                </button>
                <div
                    [ngClass]="{ show: showDropdownContent }"
                    class="dropdown-content"
                >
                    <a (click)="toggleDropdown($event)">
                        <img
                            class="pngIcon"
                            src="../../../../assets/action.png"
                            alt=""
                        />
                        <span class="buttonLabel">
                            Edit a table
                        </span>
                        <mat-icon style="float:right;">expand_less</mat-icon>
                    </a>
                    <a
                        *ngFor="let table of tables"
                        href="#"
                        (click)="handleClick($event, table)"
                        >{{ table }}</a
                    >
                </div>
            </div>
        </div>
        <page-footer
            [leftButtonText]="'Log Out'"
            (leftButtonClick)="logout()"
        ></page-footer>
    </div>
</div>
