<div class="container">
    <div class="page-box page-box-padding">
        <page-header [showBackButton]="false"></page-header>
        <div class="btn dropdown">
            <img class="pngIcon" src="../../../../assets/table.png" alt="" />
            <span class="buttonLabel">
                {{ tableName }}
            </span>
        </div>
        <div class="edit-ctas">
            <button class="edit-button" (click)="enableEditMode()">
                <img class="pngEdit" src="../../../../assets/edit.png" alt="" />
                <span class="edit-button-label edit">
                    Edit
                </span>
            </button>
            <button class="edit-button" (click)="addEmptyRow()">
                <img class="pngAdd" src="../../../../assets/add.png" alt="" />
                <span class="edit-button-label add">
                    Add Row
                </span>
            </button>
            <button class="edit-button">
                <img
                    class="pngUpload"
                    src="../../../../assets/upload.png"
                    alt=""
                />
                <span class="edit-button-label upload">
                    Upload File
                </span>
            </button>
        </div>
        <div class="table-content">
            <hot-table #hot
                [hotId]="tableId"
                [settings]="tableSettings"
                [data]="dataset"
                [columns]="columnHeaders"
                class="tableStyle"
            >
            </hot-table>
            <div style="width:80%">
                <button
                    class="btn pink"
                    type="button"
                    name="button"
                    (click)="submit()"
                    [disabled]="loading"
                >
                    <div
                        *ngIf="!loading"
                        style="color:#FFFFFF"
                        class="buttonLabel"
                    >
                        Save
                    </div>
                    <div
                        *ngIf="loading"
                        style="color:#FFFFFF"
                        class="buttonLabel"
                    >
                        Saving...
                    </div>
                </button>
            </div>
        </div>
        <page-footer style="width:80%"></page-footer>
    </div>
</div>
