<div class="container">
    <div class="signup-box">
        <mat-accordion>
            <mat-expansion-panel
                (opened)="panelOpenState = true"
                (closed)="panelOpenState = false"
            >
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Choose an action
                    </mat-panel-title>
                    <!-- <mat-panel-description>
                  Currently I am {{panelOpenState ? 'open' : 'closed'}}
                </mat-panel-description> -->
                </mat-expansion-panel-header>
                <div class="actions">Add a new record</div>
                <div class="actions">Edit an existing record</div>
                <div class="actions">Upload a file input</div>
            </mat-expansion-panel>
        </mat-accordion>
        <button
            class="pinkButton"
            type="button"
            name="button"
            [disabled]="loading"
            (click)="logout()"
        >
            Log out
        </button>
    </div>
</div>
