<div *ngFor="let nav of list;">
    <div *ngIf="nav.children; then children else noChildren"></div>

    <ng-template #noChildren>
        <a class="list-group-item d-flex flex-row collapsed justify-content-between"
           [routerLink]="nav.route"
           (click)="navigate(nav)"
           [style.paddingLeft]="padding + 'px'">
            <span class="d-none d-md-inline">{{nav.name}}</span>
            <div *ngIf="nav.icon"><i class="fa fa-{{nav.icon}}"></i></div>
        </a>
    </ng-template>

    <ng-template #children>
        <a class="list-group-item d-flex flex-row justify-content-between link-text"
           href="#{{nav.id}}Menu"
           data-toggle="collapse"
           aria-expanded="true"
           [style.paddingLeft]="padding + 'px'">

            <span class="toggle-width d-none d-md-inline">{{nav.name}}</span>

            <a *ngIf="nav.isOpen" href="#{{nav.id}}Menu" class="collapsed expandable" data-toggle="collapse" aria-expanded="true"></a>
            <a *ngIf="!nav.isOpen" href="#{{nav.id}}Menu" class="collapsed expandable" data-toggle="collapse" aria-expanded="false"></a>
        </a>

        <div class="collapse {{nav.isOpen ? 'show' : 'hide'}}" id="{{nav.id}}Menu">
            <app-side-nav-recurs
                [list]="nav.children"
                [padding]="subPadding"
            ></app-side-nav-recurs>
        </div>
    </ng-template>
</div>
