<div class="bottom-buttons">
    <span>
        <button
            class="outlineButton"
            type="button"
            name="button"
            [disabled]="loading"
            (click)="goHome()"
            fill="outline"
        >
            <mat-icon>home</mat-icon>
            <span style="vertical-align:super;">
              Home
            </span>
        </button>
    </span>
    <span>
        <button
            class="outlineButton"
            type="button"
            name="button"
            [disabled]="loading"
            (click)="goHome()"
            fill="outline"
        >
            Support
        </button>
    </span>
</div>