/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

button{
  outline: none;
}
.pinkButton {
  border-radius: 100px;
  background-color: #FD7F81;
  color:#FFF;
  padding: 5px 15px 5px 15px;
  cursor:pointer;
  height: 40px;
  width: 288px;
  margin-right: 8px;
}

.buttonIcon{
  display:inline-block;
  font-size: 11pt;
  margin-left:5px;
}

.buttonLabel{
  height: 18px;
  color: #FFFFFF;
  font-family: "Chivo Bold";
  font-size: 14px;
  line-height: 18px;
}