<div class="container">
    <div class="login-box">
        <div class="nav-header">
            <i class="material-icons" (click)="back()">arrow_back_ios</i>
        </div>
        <div class="logoBox"></div>
        <div class="form">
            <input
                class="input"
                type="text"
                name="email"
                placeholder="gabriel.melo@gmail.com"
            />
            <input
                class="input"
                type="password"
                name="password"
                placeholder="********"
            />
            <button class="pinkButton" tabindex="3" type="button" name="button">
                <div class="buttonLabel">
                    Login
                </div>
            </button>
            <div style="margin-top:19px;">
                <label for="remember" class="rememberMe">
                    <input
                        class="checkbox"
                        type="checkbox"
                        name="remember"
                        value="true"
                    />
                    Remember me
                </label>
                <a class="forgotPassword" href="#">Forgot password?</a>
            </div>
        </div>
    </div>
</div>
