.center30 {
    margin: 30px auto;
}

.checkbox {
    height: 20px;
    width: 20px;
    border: 1px solid #dcdcdc;
    border-radius: 2px;
    padding: 0;
    margin: 0;
    vertical-align: bottom;
    position: relative;
    top: 2px;
    overflow: hidden;
}

.rememberMe {
    height: 19px;
    width: 98px;
    color: #8f8f8f;
    font-family: 'Open Sans';
    font-size: 14px;
    line-height: 19px;
    padding-left: 15px;
    text-indent: -15px;
}

.forgotPassword {
    height: 19px;
    width: 116px;
    color: #fd7f81;
    font-family: 'Open Sans';
    font-size: 14px;
    line-height: 19px;
    float: right;
    text-align: right;
}

.logoBox {
    height: 40px;
    width: 180px;
    background-repeat: no-repeat;
    background-image: url('../../../../assets/logo.png');
    background-size: 180px 40px;
    background-position: center;
    margin-bottom: 30px;
}

.form {
    width: 288px;
}

.input {
    outline: none;
    padding-left: 26px;
    height: 40px;
    width: 262px;
    border: 1px solid #dcdcdc;
    border-radius: 100px;
    margin-bottom: 12px;
}

.nav-header {
    display: flex;
    justify-content: flex-start;
    padding: 10px 0 0 20px;
    margin-bottom: 30px;
    width: 100%;
    color: #fd7f81;

    i {
        font-size: 20px;
        cursor: pointer;
    }
}
