<div class="container">
    <div class="login-box">
        <div class="nav-header">
            <i class="material-icons" (click)="back()">arrow_back_ios</i>
        </div>
        <div class="logoBox"></div>
        <form class="form" [formGroup]="loginForm">
            <input
                class="input"
                type="text"
                name="email"
                formControlName="email"
                placeholder="gabriel.melo@gmail.com"
                [disabled]="loading"
            />
            <input
                class="input"
                type="password"
                name="password"
                formControlName="password"
                placeholder="********"
                [disabled]="loading"
            />
            <button
                class="pinkButton"
                tabindex="3"
                type="button"
                name="button"
                [disabled]="loading"
                (click)="login(loginForm.value)"
            >
                <div class="buttonLabel" *ngIf="!loading">
                    Login
                </div>
                <div class="buttonLabel" *ngIf="loading">
                    Loading...
                </div>
            </button>
            <div style="margin-top:19px;">
                <label for="remember" class="rememberMe">
                    <input
                        class="checkbox"
                        type="checkbox"
                        name="remember"
                        value="true"
                    />
                    Remember me
                </label>
                <a class="forgotPassword" href="#">Forgot password?</a>
            </div>
        </form>
    </div>
</div>
